<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <h1>Login</h1>
    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="username" id="username" placeholder="Username">
        <input type="password" name="password" id="password" placeholder="Password">
        <input type="submit" value="Log In">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </form>

    <a href="{% url 'register' %}">Register</a>
</body>

</html>