<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>

    <form method="POST">
        {% csrf_token %}

        {{form.username}}

        {{form.email}}

        {{form.password1}}

        {{form.password2}}

        <input type="submit" value="Register">
    </form>

    <p>Already a user? <a href="{% url 'login' %}">Log In</a></p>

</body>

<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder = 'Username'
    form_fields[2].placeholder = 'E-mail'
    form_fields[3].placeholder = 'Password'
    form_fields[4].placeholder = 'Re-enter your password'
</script>

</html>