<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>

<body>
    <h2>Login</h2>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="username" id="username" placeholder="Username">
        <input type="password" name="password" id="password" placeholder="Password">
        <input type="submit" value="Log In" class="submit_button">
        {% for message in messages %}
        <p class="error-message">{{ message }}</p>
        {% endfor %}

        <p> Don't have an account? <a href="{% url 'register' %}">Register</a> </p>
        <p>Forget Password? <a href="{% url 'password_reset' %}">reset it</a></p>


        <h5> You can also login with Social Media: </h5>
        <a href="{% url 'social:begin' 'facebook' %}">Log in with Facebook</a>
        <a href="{% url 'social:begin' 'twitter' %}">Log in with Twitter</a>
        <a href="{% url 'social:begin' 'github' %}">Log in with GitHub</a>
    </form>
</body>

</html>